<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.2.0.min.js"></script>
        <script>
            const socket = io.connect();
            $(document).ready(() => {
                $('#div-container-chat').hide();
                $('#btn-sign-up').click(() => {
                    const username = $('#txt-username').val();
                    socket.emit('NEW_USER_SIGN_UP', username);
                });

                $('.li-room').click(function() {
                    $('.li-room').removeClass('red');
                    $(this).addClass('red');
                    console.log($(this).attr('id'));
                });

                socket.on('SERVER_CONFIRM_USERNAME', isOK => {
                    if (isOK) {
                        $('#div-sign-up').hide();
                        return $('#div-container-chat').show();
                    }
                    alert('Vui long chon username khac!');
                });
            });
        </script>
        <style>
            .red {
                color: red;
            }
            #div-container-chat {
                display: flex;
                flex-direction: row;
                height: 300px;
            }
            #div-chat {
                margin: 10px;
                display: flex;
                flex-direction: column;
                background-color: yellow
            }
            #div-list-container {
                flex: 6;
                background-color: green;
            }
            #div-controll {
                display: flex;
                justify-content: center;
                flex: 1;
                background-color: gray;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="div-sign-up">
                <input type="text" id="txt-username" placeholder="Enter your username" />
                <br /><br />
                <button id="btn-sign-up">Sign Up</button>
            </div>
            <div id="div-container-chat">
                <div id="div-list">
                    <ul id="ul-list-room">
                        <li class="li-room" id="football">Football</li>
                        <li class="li-room" id="tenis">Tenis</li>
                        <li class="li-room" id="pingPong">Ping Pong</li>
                        <li class="li-room" id="volleyball">Volleyball</li>
                    </ul>
                </div>
                <div id="div-chat">
                    <div id="div-list-container">
                        <ul id="ul-list-message">

                        </ul>
                    </div>
                    <div id="div-controll">
                        <input type="text" placeholder="Enter your message" id="txt-message"/>
                        <button id="btn-send">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
